body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url("https://github.com/JSudron/bootstrap4-nextbigidea/blob/3bff87d0a439365321c6954d35a197e13e20d59b/images/whiskey-background.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

quotes-container {}

.features-container {}

